@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

body {
  line-height: 1.4;
  color: #444;
  background: #fff;
  height: 100vh;
}

.form-container {
  width: 100%;
  display: flex;
  border-radius: calc(0.5 * 100px);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.input-text {
  font-size: 1rem;
  font-weight: 400;
  width: 85%;
  padding-right: 5px;
  padding-left: 10px;
  border-radius: calc(0.5 * 100px);
}

.input-text::placeholder {
  color: #000;
}

.input-submit {
  background: transparent;
  color: #5b5b5b;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.input-text,
.input-submit {
  height: 45px;
  outline: none;
  border: none;
}

.input-submit svg {
  color: darkcyan;
  font-size: 20px;
  margin-top: 2px;
}

.container {
  max-width: 800px;
  margin: 0 auto !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Starts slightly above its position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Moves to its natural position */
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px); /* Starts slightly above its position */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Moves to its natural position */
  }
}